<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">

<th:block th:include="layout::head" />

</head>

<body class="h-100">

	<header th:replace="layout::header('ユーザー管理', 'users')">
		<!-- 共通レイアウト -->
	</header>

	<section class="container mx-auto pt-5">

		<div class="row my-3">
			<h2 class="col-10">ユーザー一覧</h2>
			<div class="col">
				<a th:href="@{/user/create}" class="btn btn-info btn-block">新規登録</a>
			</div>
		</div>

		<div th:replace="layout::alert_success(${success})">処理成功時のメッセージ</div>
		<div th:replace="layout::alert_danger(${message})">処理失敗時のメッセージ</div>

		<div th:replace="layout::pagination(${paging}, ${users}, false)"></div>

		<table class="table table-striped" id="users">
			<thead>
				<tr>
					<th>
						アカウント
						<div th:replace="layout::sort(${sorted}, 'username', ${direction}, '/user')"></div>
					</th>
					<th>
						メール
						<div th:replace="layout::sort(${sorted}, 'email', ${direction}, '/user')"></div>
					</th>
					<th>有効</th>
					<th>権限</th>
					<th>アクション</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}" th:object="${user}">
					<td class="text-left" th:text="*{username}">USERNAME</td>
					<td class="text-left" th:text="*{email}">EMAIL</td>
					<td class="text-center" th:text="*{enabled}">ACCEPT</td>
					<td class="text-center" th:text="*{authorities}">ROLE</td>
					<td class="row">
						<!--  -->
						<div class="col">
							<a class="btn btn-primary fas fa-edit" th:href="@{/user/modify/{id}(id=*{id})}" title="編集"></a>
						</div>
						<!--  -->
						<div class="col">
							<a class="btn btn-info fas fa-address-card" th:href="@{/user/view/{id}(id=*{id})}" title="確認"></a>
						</div>
						<!--  -->
						<div class="col">
							<a class="btn btn-danger fas fa-trash" th:href="@{/user/delete/{id}(id=*{id})}" title="削除"></a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<div th:replace="layout::pagination(${paging}, ${users}, true)"></div>
	</section>

	<section class="container mt-5">
		<div class="card">
			<h2 class="card-heading">ファイルアップロード</h2>
			<form th:action="@{/user/upload/csv}" enctype="multipart/form-data" class="card-body" method="post">


				<div class="form-group form-row">
					<!--  -->
					<label class="form-control col-10" for="file" id="file_text">&nbsp;</label>
					<!--  -->
					<label class="btn btn-info btn-block col-2" for="file">ファイル選択 </label>
				</div>

				<input type="file" id="file" name="file" class="d-none" onchange="$('#file_text').text($(this).val())">

				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block">アップロード</button>
				</div>
			</form>
		</div>

	</section>

</body>

</html>