<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">

<th:block th:include="layout::head" />

</head>

<body class="h-100">

	<div class="card" th:fragment="form(buttonText, action, readonly)">
		<form class="card-body needs-validation" novalidate method="POST" th:action="${action}" th:object="${form}">

			<div class="form-group form-row">
				<label class="col-4" for="username">アカウント</label>
				<div class="col" th:unless="${readonly}">
					<input class="form-control" th:field="*{username}" th:errorclass="is-invalid">
					<div th:replace="layout::invalid_feedback('username')"></div>
				</div>
				<div class="col" th:if="${readonly}">
					<div class="form-control" th:text="*{username}"></div>
				</div>
			</div>

			<div class="form-group form-row">
				<label class="col-4" for="email">メールアドレス</label>
				<div class="col" th:unless="${readonly}">
					<input class="form-control" th:field="*{email}" th:errorclass="is-invalid">
					<div th:replace="layout::invalid_feedback('email')"></div>
				</div>
				<div class="col" th:if="${readonly}">
					<div class="form-control" th:text="*{email}"></div>
				</div>
			</div>

			<div class="form-group form-row">
				<label class="col-4" for="password">パスワード</label>
				<div class="col" th:unless="${readonly}">
					<input type="text" class="form-control" th:field="*{password}" th:errorclass="is-invalid" th:type="password">
					<div th:replace="layout::invalid_feedback('password')"></div>
				</div>
				<div class="col" th:if="${readonly}">
					<div class="form-control">**********</div>
				</div>
			</div>

			<div class="form-group form-row">
				<label class="col-4" for="enabled">アカウント状態</label>
				<div class="col" th:unless="${readonly}">
					<div class="btn-group radio" data-toggle="buttons">
						<!--  -->
						<label class="btn btn-outline-secondary"><input type="radio" th:field="*{enabled}" value="true" th:text="有効"></label>
						<!--  -->
						<label class="btn btn-outline-secondary"><input type="radio" th:field="*{enabled}" value="false" th:text="無効"></label>
					</div>
				</div>

				<div class="col" th:if="${readonly}">
					<div class="form-control" th:text="*{enabled ? '有効' : '無効' }"></div>
				</div>
			</div>

			<div class="form-group form-row">
				<label class="col-4" for="locked">ロック状態</label>
				<div class="col" th:unless="${readonly}">
					<div class="btn-group radio" data-toggle="buttons">
						<!--  -->
						<label class="btn btn-outline-secondary"><input type="radio" th:field="*{locked}" value="true" th:text="有効"></label>
						<!--  -->
						<label class="btn btn-outline-secondary"><input type="radio" th:field="*{locked}" value="false" th:text="無効"></label>
					</div>
				</div>

				<div class="col" th:if="${readonly}">
					<div class="form-control" th:text="*{locked ? '有効' : '無効' }"></div>
				</div>
			</div>

			<div class="form-group form-row">
				<label class="col-4" for="credentialsExpired">パスワード有効期限</label>
				<div class="col" th:unless="${readonly}">
					<input class="form-control" th:field="*{credentialsExpired}" th:errorclass="is-invalid" type="date">
					<div th:replace="layout::invalid_feedback('credentialsExpired')"></div>
				</div>
				<div class="col" th:if="${readonly}">
					<div class="form-control" th:text="*{credentialsExpired}"></div>
				</div>
			</div>

			<div class="form-group form-row">
				<label class="col-4" for="accountExpired">アカウント有効期限</label>
				<div class="col" th:unless="${readonly}">
					<input class="form-control" th:field="*{accountExpired}" th:errorclass="is-invalid" type="date">
					<div th:replace="layout::invalid_feedback('accountExpired')"></div>
				</div>
				<div class="col" th:if="${readonly}">
					<div class="form-control" th:text="*{credentialsExpired}"></div>
				</div>
			</div>

			<div class="form-group form-row" th:if="${buttonText}">
				<th:block th:if="${buttonText == '削除'}">
					<button class="btn btn-danger btn-block btn-lg" th:text="${buttonText}">ボタン</button>
				</th:block>
				<th:block th:unless="${buttonText == '削除'}">
					<button class="btn btn-primary btn-block btn-lg" th:text="${buttonText}">ボタン</button>
				</th:block>
			</div>

			<th:block th:if="${buttonText == '削除'}">
				<div th:replace="layout::dialog('delete_confime', '削除の確認', '現在表示中の情報を削除します。<br/>よろしですか?')"></div>
			</th:block>
		</form>
	</div>

	<div th:fragment="sNavi(active, user)">

		<div th:object="${user}" class="list-group">
			<!--  -->
			<a class="list-group-item" th:classappend="${active == 'index' ? 'active disabled' : ''}" th:href="@{/user}">一覧画面</a>
			<!--  -->
			<a class="list-group-item" th:classappend="${active == 'create' ? 'active disabled' : ''}" th:href="@{/user/create}">新規登録</a>
			<!--  -->
			<a class="list-group-item" th:if="*{id}" th:classappend="${active == 'modify' ? 'active disabled' : ''}" th:href="@{/user/modify/{id}(id=*{id})}">変更画面</a>
			<!--  -->
			<a class="list-group-item" th:if="*{id}" th:classappend="${active == 'view' ? 'active disabled' : ''}" th:href="@{/user/view/{id}(id=*{id})}">確認画面</a>
			<!--  -->
			<a class="list-group-item list-group-item-danger" th:if="*{id}" th:classappend="${active == 'delete' ? 'active disabled' : ''}"
				th:href="@{/user/delete/{id}(id=*{id})}">削除画面</a>
		</div>
	</div>
</body>